/* assets/css/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #f4f4f4;
  --accent-color: #b0fb00;

  --base-font-size: 14px;
}

* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 17px;
}

input,
select {
  width: 100%;
  height: 34px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  background: transparent;
  cursor: pointer;
}

input:focus-visible,
select:focus-visible {
  outline-color: var(--primary-color);
  border-color: #8cc800;
}

.app {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.content-container {
  padding: 0 50px;
}

@media (max-width: 1800px) {
  h1 {
    font-size: 34px;
  }
  .content-container {
    padding: 0 43px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
  .content-container {
    padding: 0 20px;
  }
}
